h1,h2,h3,legend{
  color:#ff471a;
}

.header-panel h1 {
    color: #ff471a;
    font-size: 28px;
    padding-left: 35px;
}

.menu ul li a {
    color: #ff471a;
    font-weight: bold;
    text-decoration: none;
}

h4,h5{
  font-weight:700;
  color:#ff471a;
}